<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title><%- title %> |  | Bot Trading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Bot Trading" name="description" />
    <meta content="Yuserver" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <%- HeaderCss %>
    <%- include ('./head-css') %>
</head>

<body data-topbar="dark">

    <%- body %>


    <%- include ('./vendor-script')  %>
    <%- FooterJs %>
    <!-- <script src="assets/js/app.js"></script> -->
    <script src="/assets/js/pages/feather-icon.init.js"></script>
</body>

</html>