<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title><%- title %> | Bot Trading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Bot Trading" name="description" />
    <meta content="Yuserver" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <%- HeaderCss %>
    <%- include ('./head-css') %>
</head>

<body data-layout="horizontal" data-topbar="dark">
    <div id="layout-wrapper">

        <!-- <%- include ('./header') %> -->
        <%- include ('./horizontal-sidebar') %>
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <%- body %>
                </div>
            </div>
            <%- include ('./footer') %>
        </div>
    </div>
    <%- include ('./vendor-script')  %>
    <%- FooterJs %>
    <script src="assets/js/app.js"></script>
</body>

</html>